aclocal.m4
autom4te.cache/
Makefile
Makefile.in
depcomp
install-sh
ltmain.sh
missing
config.h
config.h.in
configure
config.log
config.status
config.guess
config.sub
stamp-h1
*.swp
*~
*.exe
*.db
*.anjuta
tags
gtk-doc.make
m4
*.bak
create-world.sh
drop-world.sh
libtool
nbproject/private
conf/wmud.conf
cscope.out
var
